tornado==3.0.1
gunicorn>=0.17.4

# Unicode transliteration
unidecode==0.04.12

# Pgsql
psycopg2>=2.4.5
momoko>=0.5.0
dj-database-url>=0.2.1

# Migrations
alembic>=0.5.0
sqlalchemy>=0.8.0

# Test runner
pytest>=2.3.1
pytest-xdist>=1.8
pytest-cov
mock>=1.0.0

# BDD
selenium

# Scripts
requests>=0.14.1

# Code stats
radon>=0.3.1
