/* Copyright Geoff Wilson 2012-2013 */

body {
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #333;
    background-color: #ccc;
}

h1 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.8em;
}

footer {
    text-align: right;
    font-size: 0.8em;
    margin: 1em;
}

li.word {
    list-style: none;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}

span.zi {
    font-family: "Microsoft YaHei","SimHei";
    font-size: 24pt;
    font-weight: normal;
}

span.pinyin {
    font-size: 14pt;
    font-style: italic;
}

span.desc {
    font-family: Georgia, serif;
    font-size: 12pt;
    font-style: italic;
}

form ul {
    list-style: none;
}

form label {
    float: left;
    text-align: right;
    width: 5.5em;
    font-weight: bold;
}

.fieldgroup {
    padding-left: 6em;
}

.action {
    padding-left: 6em;
}