{% extends "layout.html" %}

{% block header %}
  <h1>词汇 &mdash; cí huì &mdash; Chinese vocabulary</h1>
{% end %}

{% block content %}
<ul id='wordlists'>
{% for word_list in word_lists %}
  <li><a href='list/{{ word_list['stub'] }}'>{{ word_list['title'] }}</a></li>
{% end %}
</ul>

<p><a href='http://www.arizona-software.ch/provoc/'>ProVoc</a> can be used to
  import the .tsv files.</p>

<hr/>

<!-- TODO(gmwils): include in header -->
<form method='POST' action='/login'>
  {% module xsrf_form_html() %}
  <input type='text' name='user'>
  <input type='password' name='passwd'>
  <input type='submit'>
</form>
{% end %}
