<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
  <title>CiHui</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}" type="text/css" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="CiHui" />
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-53198-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>

<body>
  <div class='nav'>
    <h3><a href='/'>CiHui</a></h3>
  </div>
  <div class="main">
    <div class="header">
      {% block header %}{% end %}
    </div>

    <div class="content">
      {% block content %}{% end %}
    </div>

    <div class="footer">
      {% block footer %}{% end %}
    </div>

    <div class="copy">
      <hr/>
      <p>&copy; 2012&ndash;2013 CiHui</p>
    </div>
  </div>
</body> </html>
