<!DOCTYPE html>
<html>
<head>
  <title>CiHui</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
  <link href="{{ static_url('css/main.css') }}" rel="stylesheet" media="screen" type="text/css" />
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="CiHui" />

  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-53198-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if current_user is not None %}
        <a class="navbar-brand" href="/home">CiHui</a>
        {% else %}
        <a class="navbar-brand" href="/">CiHui</a>
        {% end %}
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% if current_user is not None %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/user/{{ current_user }}">View profile</a></li>
            </ul>
          </li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/user/new">Sign up</a></li>
          {% end %}
        </ul>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      {% block header %}{% end %}

      {% block content %}{% end %}
    </div>
  </div>

  <footer>
    {% block footer %}{% end %}
    <p>&copy; 2012&ndash;2013 CiHui</p>
  </footer>

  <!-- Bootstrap setup -->
  <script src="{{ static_url('js/jquery.min.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
</body>
</html>
