{% extends "layout.html" %}

{% block header %}
  <h1>Login</h1>
{% end %}

{% block content %}
<form method='POST' action='/login'>
  <fieldset>
    <span class='error'>{{ error_msg }}</span>
  </fieldset>
  <fieldset>
    <ul>
      <li>
        <label for='user'>User:</label>
        <div class='fieldgroup'>
          <input type='text' name='user' maxlength='128'>
        </div>
      </li>
      <li>
        <label for='password'>Password:</label>
        <div class='fieldgroup'>
          <input type='password' name='password' maxlength='128'>
        </div>
      </li>
    </ul>
    <p class='action'>
      <input type='submit' value='Login'>
    </p>
  </fieldset>
  {% module xsrf_form_html() %}
</form>
{% end %}
