{% extends "layout.html" %}

{% block header %}
  <h1>{{ word_list['title'] }}</h1>
{% end %}

{% block content %}
<input type='hidden' id='word_list_id' value='{{ word_list['id'] }}'/>

<p>{{ word_count }} words.</p>
<p>Download: <a href='{{ request.uri }}.csv'>csv</a>,
<a href='{{ request.uri }}.tsv'>tsv</a>
</p>


{% for word_entry in word_list['words'] %}
<li class='word'><span class='zi'>{{ escape(word_entry[0]) }}</span>
 <span class='pinyin'>{{ escape(word_entry[1]) }}</span>
<br/>
 <span class='desc'>{{ escape(word_entry[3]) }}</span>
</li>
{% end %}

{% end %}
